# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**

- List popular languages for Data Science
- List popular libraries for Data Science
- Learn how to use Git and GitHub
- Learn basic data visualization techniques in R Studio
- Introduce Jupyter Labs and Jupyter Notebooks

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. C
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. stringr
3. ggplot
4. caret

|Data Science Tools|
|----------|
|Kubertenes|
|Docker|
|Red Hat|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Luis Fernando Chama Deriggi